body {
	background-image: url("../img/blackboard.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
header {
	height: 5vh;
	
}

#landing {
	color: white;
	height: 90vh;
}
#landing div {
	width: 50%;
	margin:auto;
	text-align: center;
	color: white;
}
#what {
	background-color: #822433;
	height: 90vh;
	color: white;
}
#logistics {
	height: 90vh;
	color: white;
}
#signup {
	height: 90vh;
	background-color: white;
	color: #822433;
}
footer{
	height: 20vh;
	background-color: black;
}