body {
	background-image: url("../img/blackboard.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

html{
	/* scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(90vh);
	scroll-snap-type: y mandatory;
	overflow-y: scroll; */
}

header {
	z-index: 9999;
	height: 6vh;
	width: 100%;
	scroll-snap-align: start;
	position: fixed;
	background-color: black;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navbar li {
	display: inline;
	color: white;
}

#navbar a {
	padding: 15px;
	color: white;
	font-size: 25px;
	text-decoration: none;
}

/*Smooth Scroll*/
html {
	scroll-behavior: smooth;
}

#landing, #sponsors {
	position: relative;
	top: 6vh; /* Ensure same as header height */
	color: white;
	height: 90vh;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

#landing, #sponsors div {
	margin:auto;
	padding: 10vw;
	text-align: center;
	color: white;
	scroll-snap-align: start;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
	row-gap: 30px;

}


#what, #logistics {
	background-color: #822433;
	height: 90vh;
	color: white;

	padding: 10vw;
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	align-content: center;

}

#what, #logistics, #signup, #contactus .content_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	gap: 2vh;
}

#what, #problems .flex_info_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	gap: 10vw;
}

#what, #problems .flex_info_container div { 
	display: flex;
	flex-direction:column;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	gap: 3vw;
	text-align: justify;
}
#problems {
	height: 90vh;
	color: white;
	scroll-snap-align: start;
}

#logistics {
	height: 90vh;
}

#contactus {
	background-color: #822433;
	height: 20vh;
	color: white;

	padding: 10vw;
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	align-content: center;
}

#contactus a {
	color: white;
}

#signup {
	height: 90vh;
	background-color: lightgray;
	color: black;

	padding: 10vw;
	scroll-snap-align: start;
	display: flex;
	align-items: center;
	align-content: center;
}

footer{
	height: 5vh;
	background-color: black;
}

#problems .content_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	align-content: center;
	gap: 2vh;
}

#problems .flex_info_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	gap: 5vw;
	width: 70%;
}

#problems .flex_info_container div { 
	display: flex;
	flex-direction:column;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	gap: 5vh;
	text-align: justify;
	width: 100%;
	margin: auto;
}

table, tr {
	font-size: medium;
	border: 1px solid white;
	border-collapse: collapse;
	width: 100%;
}

.exampleproblem {
	height: 80px;
}